<div class="w-full">
  <div class="flex justify-between items-center">
    <% if user_signed_in? %>
      <%= link_to "New topic", new_topic_path, class: "rounded-lg py-3 px-5 bg-black text-white block font-medium" %>
    <% end %>
  </div>

  <div id="topics" class="min-w-full mb-4">
    <%= render @topics %>
  </div>
</div>
