<div class="mx-auto md:w-2/3 w-full flex mb-4">
  <div class="mx-auto">
    <%= render @topic %>

    <% if user_signed_in? %>
      <% if user_topics(@topic) %>
        <%= link_to "Edit topic", edit_topic_path(@topic), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to "Delete topic", topic_path(@topic), method: :delete, data: { turbo_confirm: "Delete topic?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Downvote", topics_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
