<% if @user %>
  <h1 class="text-4xl font-bold mb-2"><%= @user.username %></h1>
  <p class="text-gray-600"><%= @user.email %></p>
  <%= link_to "Edit profile", edit_user_registration_path, class: "text-flostonlink underline my-4" %>
<% end %>
