<dialog id="turbo-confirm" class="bg-white shadow-lg rounded-lg p-6">
  <form method="dialog">
    <p class="text-lg font-semibold">Are you sure?</p>
    <div class="mt-4">
      <button value="cancel" class="bg-white border border-gray-300 hover:bg-gray-100 px-4 py-2 rounded-lg mr-1 font-medium">Cancel</button>
      <button value="confirm" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg font-medium">Confirm</button>
    </div>
  </form>
</dialog>
