<% content_for :title, "Page Not Found" %>

<p class="text-6xl font-bold text-gray-800 mb-4">404</p>
<p class="text-4xl text-gray-700 my-2">The page you were looking for doesn't exist.</p>
<p class="text-gray-500 mb-4">You may have mistyped the address or the page may have moved.</p>

<%= link_to "View recent topics", root_path, class: "text-gray-600 underline" %>
