<p class="text-6xl font-bold text-gray-800 mb-4">500</p>
<p class="text-4xl text-gray-700 my-2">We're sorry, but something went wrong.</p>

<%= link_to "View recent topics", root_path, class: "text-gray-600 underline" %>

