/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  transition: all 800ms ease 0s;
}

.turbo-progress-bar {
  height: 3px !important;
  background-color: grey !important;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #E2DFE9 white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #E2DFE9;
  border-radius: 5px;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
}
