<% content_for :title, sanitize("Plugs") %>

<h1 class="text-4xl font-bold mb-6">Plugs</h1>

<% if @plugs.present? %>
  <%= render partial: "plug", collection: @plugs, cached: true %>
<% else %>
  <%= render 'layouts/empty_state', message: "Users with the most confirmed topics will be listed here." %>
<% end %>
