<div
  data-controller="scroll-to-top"
  class="scroll-to-top"
  data-action="click->scroll-to-top#scrollToTop"
  data-scroll-to-top-target="backToTop"
>
  <% cache('bx-up-arrow-alt.svg') do %>
    <%= image_tag "bx-up-arrow-alt.svg", alt: "Scroll to top", class: "w-10", draggable: false %>
  <% end %>
</div>
